{% extends '@CeradApp/Base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/ceradapp/css/reset.css') }}" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/ceradapp/css/basic.css') }}" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/ceradapp/css/forms.css') }}" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/ceradapp/css/games.css') }}" media="all" />
{% endblock %}

{% block layout_body %}
<div id="layout-body">
<div id="layout-header">
{% if project is defined %}
{{ project.desc }}<br />
{% if is_granted('ROLE_USER') %}
User: {{ app.user.accountName }}  <a href="{{ path('cerad_user__user__logout') }}">Logout</a><br />
<a href="{{ path('cerad_tourn__home') }}">Home</a>
<a href="{{ path('cerad_tourn__referee_schedule__show') }}">Referee Schedule</a> 
{% else %}
User: Guest <a href="{{ path('cerad_user__user__login') }}">Login</a><br />
<a href="{{ path('cerad_tourn__welcome') }}">Welcome</a>
<a href="{{ path('cerad_tourn__referee_schedule__show') }}">Referee Schedule</a>
{% endif %}
{% endif %}
</div>
{% block layout_userinfo %}
<div id="layout-userinfo">
    {# render(route('cerad_app__user_info__controller:action', { '_model': 'cerad_app__welcome__model_factory' } )) #}
    {# render(route('cerad_app__userinfo')) #}
</div>
{% endblock %}
    
<div id="layout-content">{% block content %}{% endblock %}</div>

</div>
{% endblock %} {# end body block #}

